* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}
/* esto tendria que ser el contenedor de nuestro carrusels */
body {
  display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #343f4f;
} 

.containerCarrusel {
  max-width: 1000px;
  position: relative;
}
.containerCarrusel i {
  top: 50%;
  height: 35px;
  width: 35px;
  cursor: pointer;
  position: absolute;
  font-size: 1.3rem;
  text-align: center;
  line-height: 35px;
  background: #f7f7f7;
  border-radius: 50%;
  transform: translateY(-50%);
}
.containerCarrusel i:first-child {
  left: -23px;
  display: none;
}
.containerCarrusel i:last-child {
  right: -23px;
}
.containerCarrusel .carrusel {
  font-size: 0;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carrusel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}
.carrusel.dragging img {
  pointer-events: none;
}
.carrusel .card {
  display: inline;
  /* width: 316px;
  height: 418px;
  background: #318185;
  border-radius: 10px; */
}
.carrusel div {
  margin-left: 13px;
  display: inline-block;
  width: 316px;
  height: 228px;
  background: #318185;
  border-radius: 10px;
}
.carrusel div p {
  font-size: 18px;
  color: #f7f7f7;
  margin: 20px;
}
.carrusel div img {
  height: 158px;
  width: 316px;
  /* object-fit: cover; */

  /* width: calc(100% / 5); */
  border-radius: 10px 10px 0 0;
}
.carrusel img:first-child {
  margin-left: 0;
}

@media screen and (max-width: 750px) {
  .carrusel img {
    width: calc(100% / 3);
  }
}
@media screen and (max-width: 400px) {
  .carrusel img {
    width: 100%;
  }
}

/* slider grande
--------------- o ----------- */
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none inside;
}
ul.slider {
  position: relative;
}
ul.slider img {
  opacity: 0;
  transition: opacity 1s;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 10px;
  padding: 10px;
  width: 1536px;
  height: 600px;
  object-fit: cover;
}

ul.slider img:first-child {
  opacity: 1;
}
ul.slider img:target {
  opacity: 1;
}
nav {
  position: relative;
  top: 650px;
  left: 250px;
}
.menu li {
  display: inline;
  margin-left: 15px;
}
.menu a {
  text-decoration: none;
  color: #000;
  padding: 5px;
  border: black 1px solid;
  transition: background-color 0.5s, color 0.5s;
}
.menu a:hover {
  background-color: #808080;
  color: #fff;
}
